.abs-img {
  position: absolute;
  top: 20px;
}
.vid-title{
    font-family: "Animales Fantastic" !important;
  color: white !important;
  text-align: center !important; 
font-weight: 400 !important;
font-size: 16px !important;
line-height: 18px;
text-align: center;
letter-spacing: 1px;

color: #FFFFFF;

}

@media (max-width: 1250px) {
  .abs-img {
    position: static;
  }
  .no-dsi {
    display: none !important;
  }
}
