.ult-tag {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Animales Fantastic";
  margin-top: 3px;
  font-weight: 600;
  mix-blend-mode: normal;
}
.mbl-only{
  display: none !important;
}
.contactus_contactusWrapper__FfJun{
  width: 100%;
}.team_teamSection__0W7nM{
  width: 100%;
}
.game-flex{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.indiv-video{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
}
.vid-title{
  color: white;
  text-align: center;
}
@media (max-width:1200px) {
  .game-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.indiv-video{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  width: 90%;
}
}
.indiv-video video{width: 100%;}
.data-flex{
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #c9ab84;
    position: absolute;
}
@media (max-width:768px) {
  /* .desk-only{
    display: none !important;
    opacity: 0 !important;
  } */
  .mbl-only{
    display: block !important;
  }
}