.top-sp{
  margin-top: 25px;
}
.rel-pos{
    position: relative;
}
.float-num{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

background: #C9AB84;
border-radius: 14px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 8px; 
width: 52px;
bottom: -14px;
text-align: center;

color: #07090A;
}
@media (max-width:900px) {
 .md-top-sp{
  margin-top: 25px;
} 
  
}